body{
    overflow:hidden;
    /*background: url('static/images/oldpage.jpg') !important;*/

}

#flipbook{
    float: left;
    margin-top: 30px;
    width:400px;
    height:300px;
}

#flipbook .page{
    width:400px;
    height:300px;
    background: rgba(203,187,163) !important;
    line-height:30px;
    font-size:20px;
    text-align:center;
    font-family: "Apple Chancery";

}

#flipbook .page-wrapper{
    -webkit-perspective:2000px;
    -moz-perspective:2000px;
    -ms-perspective:2000px;
    -o-perspective:2000px;
    perspective:2000px;
}

#flipbook .hard{
    font-family: "Apple Chancery";
    background: rgba(99,14,25) !important;
    color: rgba(157,130,75,0.95);
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
    font-weight:bold;
    font-size: 35px !important;
    padding-top: 120px;
}

#flipbook .odd{
    background:-webkit-gradient(linear, right top, left top, color-stop(0.95, #FFF), color-stop(1, #DADADA));
    background-image:-webkit-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:-moz-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:-ms-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:-o-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;

}

#flipbook .even{
    background:-webkit-gradient(linear, left top, right top, color-stop(0.95, #fff), color-stop(1, #dadada));
    background-image:-webkit-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-moz-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-ms-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-o-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:linear-gradient(left, #fff 95%, #dadada 100%);
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
}

.dashboard{
    margin-top: 30px;
    margin-left: 50px;
    float: left;
    height: 500px;
    width: 300px;
}

#instructions {font: 16px 'AmericanTypewriter', Cambria, Georgia; color: #282625;}
.paper {
    float: left;
    position: relative;
    border: 1px solid #B5B5B5;
    background: white;
    background: -webkit-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
    background: -moz-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
    background: linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
    -webkit-background-size: 100% 30px;
    -moz-background-size: 100% 30px;
    -ms-background-size: 100% 30px;
    background-size: 100% 30px;
}
.paper::before {content:""; z-index:-1; margin:0 1px; width:706px; height:10px; position:absolute; bottom:-3px; left:0;}
.paper::after {content:''; position:absolute; width:0px; top:0; left:39px; bottom:0; border-left:1px solid #F8D3D3;}

.paper-head-name {
    text-align: center;
}
.monster-head{
    margin-top: 30px;
}

.malac {
    float: bottom;
}

button {

    font-family: "American Typewriter", Georgia;
    margin-top: 12px;
    background-color: rgba(170,170,170,0.95);
    border-radius: 6px;
    border: none;
    color: #282625;
    padding: 10px;
    text-transform: uppercase;
    width: 200px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}
#placeholder {

    color: rgba(239,239,239,0.95);
    background: rgba(157,18,27,0.95);
    height: 25px;
    width: 25px;
    padding: 12px;
    margin: 30px auto auto auto;
    border: 1px solid gray;
    border-radius: 10px;
    font-size:20px;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}
