<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>gamebook</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/js/turnjs4/lib/turn.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/game.css">
</head>
<body style="background:url('images/oldpage.jpg') no-repeat center; background-size: 100% auto">


<div id="flipbook" style="margin-left: 100px">
    <div class="hard"> Lizard King </div>
    <div class="old-page" th:each="room:${rooms}">
        <div th:text="${room.getMonster()}"> Page 1 </div>
        <div th:text="${room.getStory()}"> Page 2 </div>
    </div>
    <div class="hard"> The end </div>
</div>

<!--<div class="dashboard" style="background-image:url('images/board.png'); max-width: 100%; height: 100%">-->
<!--</div>-->
<div class="input-group mb-3 dashboard">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">@</span>
    </div>
    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>

<button type="button" id="rollButton" onclick="alert('Hello world!')">Roll with dice</button>
<div id="rollNum">Bekakiltam</div>

<script type="text/javascript">
    $("#flipbook").turn({
        width: 800,
        height: 600,
    });
</script>
</body>
</html>