<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>gamebook</title>
    <link rel="stylesheet" type="text/css" href="/css/game.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/js/turnjs4/lib/turn.js"></script>
    <script type="text/javascript" src="/js/turnjs4/modal.js" defer></script>
    <script type="text/javascript" src="/js/turnjs4/fight.js" defer></script>


</head>
<body>


<div id="flipbook">
    <div class="hard"> A gyíkember szigete</div>
    <div class="page"></div>
    <div class="page"><h3>Háttértörténet</h3>
        <br>
        Az Osztriga-öböl nyugodt kis halászfalu úgy har-
        minc kilométernyire a hírhedt Feketehomok Kikötő-
        től délre, a tengerpart mentén. Mivel ez a hely egy
        hosszú félsziget végében található, melyet csupán
        egy meredek, kanyargós ösvényen lehet elérni, a
        halászok és asszonyaik arra <a id="myBtn">Gyikember</a> kényszerültek, hogy
        az egyszerű emberek életét éljék itt, távol az or-
        szág szörnyekkel és varázslatokkal teli életétől.
        Fangtól déli irányban elindulva úgy döntesz, hogy
        néhány napos pihenőt tartasz, és mivel nem is-
        mersz nyugalmasabb helyet az Osztriga-öbölnél,
        lovadat gyorsabb ügetésre ösztökéled a part men-
        tén.
    </div>
    <div class="old-page">
        Széltől cserzett arca haragos. Meglepetten néz
        rád, de nem köszönt. Elmeséli, milyen szomorúság
        érte a faluját.Mivel nincs aranyuk, sem egyéb kincsük, az Oszt-
        riga-öböl lakói soha nem érdekelték igazán a külső
        támadókat. Néhány hete azonban, amikor a férfiak
        kint voltak a vízen, a Tűzszigeti Gyíkemberek
        zsákmányul ejtették néhány hajójukat, és több
        fiatalembert elraboltak. Mungo szerint a foglyok
        biztosan a Tűz-szigeten raboskodnak, és vasra
        verve dolgoznak az aranybányában. Az emberrab-
        lás óta két ember őrködik a faluban, míg a többiek
        halásznak. Ennek ellenére a Gyíkemberek ma
        reggel ismét támadtak, lefegyverezték az őröket,
        és magukkal vittek még egy csapat fiatalembert.
    </div>
    <div class="old-page">
        Mungo elmondja, nem hiszi, hogy laknának embe-
        rek a Tűz-szigeten, bár ismeretei elég hiányosak.
        Amit tud, az mind a partvidék többi településének
        halászai között terjengő szóbeszéd. Azt is tudni
        vélik, hogy a Tűz-sziget annak idején börtönsziget
        volt, amelyet fizetett Gyíkemberek őriztek. Az Olaf
        herceg eléggé hiábavaló kísérlete volt annak érde-
        kében, hogy megszabadítsa országát a nemkívá-
        natos elemektől. A jó herceg azonban hamarosan
        rájött, hogy egyszerűbb lenne áttelepíteni hűséges
        alattvalóit a Tűz-szigetre, és a szárazföldön hagyni
        a gazembereket - ugyanis túl sok volt belőlük. Fel-
        adta hát eredeti tervét, és felszámolta a börtönte-lepet. Amikor a Gyíkemberek nem kaptak fizetést,
        bosszút álltak a foglyokon, és a sziget egy király-
        nak kikiáltott.
    </div>
    <div class="old-page">
        Torzszülöttek láttak napvilágot, és veszélyes folyadé-
        kok kerültek a csatornarendszerbe. Ez rettenetes
        következményekkel járt. A sziget növényzete és
        állatvilága megváltozott: emberevő növények és
        óriás szörnyek fejlődtek ki. Néhány fogolynak sike-
        rült tutajon elmenekülnie a szigetről - ezeket a
        halászok mentették meg és vitték ki a szárazföldre.
        De hogy mi történt az elmúlt néhány és során, azt
        senki sem tudja. A minapi támadásokig a Tűz-
        szigetről már-már meg is feledkeztek. Kétséges,
        hogy sikerül-e megölnöd a Gyíkkirályt és megmen-
        tened az elrabolt áldozatokat, de meg kell próbál-
        nod a lehetetlent.
    </div>
    <div class="hard">The End</div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content input-group mb-3 dashboard paper" id="instructions">
        <span class="close">&times;</span>
        <div class="paper-head-name">
            <h2 style="text-align: center">Játékos</h2>
            <div id="isPlayerDead">
                <p>Név : <span style="width: 120px;text-align: center"></span>Játékos</p>
                <p>Élet : <span id="playerHp" style="width: 25px;text-align: center" th:text="${player.getHp()}"></span></p>
                <p>Alapsebzés : <span style="width: 25px;text-align: center" th:text="${player.getDmg()}"></span></p>
            </div>
            <hr>
            <h2 class="monster-head" style="text-align: center">Szörny</h2>
            <div id="isMonsterDead">
                <p>Szörny neve : <span style="width: 100px;text-align: center" th:text="${monster.getName()}"></span></p>
                <p>Élet : <span id="monsterHp" style="width: 25px;text-align: center" th:text="${monster.getHp()}"></span></p>
                <p>Alapsebzés : <span style="width: 25px;text-align: center" th:text="${monster.getDmg()}"></span></p>
            </div>
            <div class="dice">
                <button id="button">Harc</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $("#flipbook").turn({
        width: 800,
        height: 600,
    });
</script>
</body>
</html>